.galeriaCaixa {
	display: inline-block;
    min-width: 400px;
    width: 45%; 
    border: 5px solid gray;
    margin: 1%;
}

.imagemGaleria {
    display: inline-block;
    border-bottom: 5px solid gray;
    width: 100%;
    height: auto;
}